@import './../../../styles/base/_variables.scss';

.mat {
  &-table {
    border-left: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    height: 100%;
    overflow-y: auto;
  }

  &-row {
    min-height: 24px;
    border-bottom: none;
    padding: 0;
  }

  &-cell {
    border: 1px solid $dark-gray;
    height: 40px;
    line-height: 40px;
    color: $base-text-color;
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
    overflow: hidden;
  }

  &-header {
    &-row {
      min-height: 40px;
      border-bottom: none;
      padding: 0;
    }
    &-cell {
      border: 1px solid $dark-gray;
      min-height: 40px;
      line-height: 40px;
      font-size: 18px;
      background-color: $gray;
      color: $base-text-color;
      text-align: center !important;
    }
  }

  &-column {
    &-id {
      flex: 0 0 100px;
    }

    &-name {
      flex: 0 0 150px;
      text-align: left;
    }

    &-discount {
      flex: 0 0 120px;
    }

    &-total {
      flex: 0 0 70px;
    }

    &-actions {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.button {
  padding: 0 8px;
  line-height: 24px;
  border-radius: 0;
  min-width: 58px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  &--view {
    background-color: $light-blue;
  }

  &--edit {
    background-color: $orange;
  }

  &--delete {
    background-color: $red;
  }

}
