<div class="edit">
  <div class="edit-body">
    <div class="edit-body__data">
      <div class="edit-body__data-invoice">Invoice #{{invoice?.id}}</div>
      <select class="edit-body__data-customer" (change)="selectCustomerHandler($event)" #customer>
        <option *ngFor="let customer of customersList" [value]="customer.id">{{ customer.name }}</option>
      </select>
      <div class="edit-invoice">
        <div class="edit-invoice__header">
          <div class="edit-invoice__header-product">Products</div>
          <div class="edit-invoice__header-quantity">Qty</div>
          <div class="edit-invoice__header-price">Price</div>
        </div>
        <div class="edit-invoice__products">
          <div class="edit-invoice__products-item" *ngFor="let item of invoice?.items">
            <div class="edit-invoice__products-product">{{ item.name }}</div>
            <div class="edit-invoice__products-quantity">{{ item.quantity }}</div>
            <div class="edit-invoice__products-price">{{ item.price }}</div>
            <button class="edit-invoice__products-button" mat-raised-button (click)="removeInvoiceItemButtonHandler(item.id)">-</button>
          </div>
          <div class="edit-invoice__controls">
            <div class="edit-invoice__controls-product">
              <select class="edit-invoice__controls-select" (change)="selectProductHandler($event)" #product>
                <option value="">Add Product</option>
                <option *ngFor="let product of productsList" [value]="product.id">{{ product.name }}</option>
              </select>
            </div>
            <div class="edit-invoice__controls-quantity">
              <input class="edit-invoice__controls-input" type="text" value="0" (input)="calcTotal()" #quantity>
              <div class="controls-button controls-button_more" (click)="changeValuesButtonHandler($event, '++')"></div>
              <div class="controls-button controls-button_less" (click)="changeValuesButtonHandler($event, '--')"></div>
            </div>
            <div class="edit-invoice__controls-price">
              <input class="edit-invoice__controls-input" type="text" value="0.00" disabled #price>
            </div>
            <button class="edit-invoice__controls-button" mat-raised-button (click)="addInvoiceItemButtonHandler()">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-body__discount">
      <div class="edit-body__discount-label">Discount %</div>
      <div class="edit-body__discount-control">
        <input class="edit-body__discount-input" disabled [(ngModel)]="invoice.discount">
      </div>
    </div>
  </div>
  <div class="edit-footer">
    <div class="edit-footer__total">
      <div class="edit-footer__total-label">Total</div>
      <div class="edit-footer__total-value">${{ invoice.total }}</div>
    </div>
    <button class="edit-footer__button" mat-raised-button (click)="saveInvoiceButtonHandler()">Save changes</button>
  </div>
</div>