<div class="edit">

  <app-invoice-form
    [mode]="'edit'"
    [customersList$]="customersList$"
    [productsList$]="productsList$"
    [invoice]="invoice"
    [tmpProduct]="tmpProduct"
    [invoiceItemsToRemove]="invoiceItemsToRemove">
  </app-invoice-form>

  <div class="edit-footer">
    <div class="edit-footer__total">
      <div class="edit-footer__total-label">Total</div>
      <div class="edit-footer__total-value">${{ invoice.total }}</div>
    </div>
    <button class="edit-footer__button" mat-raised-button (click)="saveInvoiceButtonHandler()">Save changes</button>
  </div>

</div>