@import './../../../styles/base/_variables.scss';

.edit {
  height: 390px;

  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid $gray;
    width: 100%;
    height: 70%;

    &__data {
      width: 75%;
      height: 100%;

      &-invoice {
        padding-right: 40px;
        margin-bottom: 10px;
      }

      &-customer {
        width: calc(100% - 40px);
        height: 30px;
        background-color: $light-blue-2;
        border: 1px solid $dark-gray;
        font-size: 18px;
        margin-bottom: 10px;
        margin-right: 40px;
      }
    }

    &__discount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;

      &-label {
        background-color: $light-blue;
        text-align: center;
        width: 75%;
        height: 35px;
        margin-bottom: 30px;
      }

      &-control {
        position: relative;
        width: 75%;
        height: 35px;
        border: 1px solid $light-blue;
      }

      &-input {
        width: 100%;
        height: 100%;
        border: none;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  &-footer {
    height: 30%;
    position: relative;

    &__total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 69%;
      height: 50%;
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
      line-height: 38px;

      &-label {
        width: 280px;
        height: 100%;
        border: 1px solid $gray;
        background-color: $light-blue;
      }

      &-value {
        width: 167px;
        height: 100%;
        border: 1px solid $gray;
      }
    }

    &__button {
      border: 1px solid $gray;
      background-color: $light-green;
      font-size: 18px;
    }

    &__errors {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;

      &-item {
        width: 100%;
        color: $red;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
      }
    }
  }

  &-invoice {

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 10px;
      padding-right: 40px;

      &-product {
        width: 280px;
        height: 100%;
        border: 1px solid $gray;
      }

      &-quantity {
        width: 80px;
        height: 100%;
        border: 1px solid $gray;
      }

      &-price {
        width: 80px;
        height: 100%;
        border: 1px solid $gray;
      }
    }

    &__controls {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30px;
      padding-right: 40px;
      margin-bottom: 10px;

      &-product {
        width: 280px;
        height: 100%;
      }

      &-quantity {
        position: relative;
        width: 80px;
        height: 100%;
      }

      &-price {
        width: 80px;
        height: 100%;
      }

      &-select {
        width: 100%;
        height: 100%;
        background-color: $light-blue-2;
        border: 1px solid $dark-gray;
        font-size: 18px;
        text-align: center;
      }

      &-input {
        width: 100%;
        height: 100%;
        border: 1px solid $dark-gray;
        background-color: $light-blue-2;
        font-size: 18px;
        text-align: center;
      }

      &-button {
        position: absolute;
        top: 2px;
        right: 0px;
        width: 28px;
        min-width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 18px;
        padding: 0;
        border: 1px solid $dark-gray;
        background-color: $light-green;
      }
    }

    &__products {
      width: 100%;
      min-height: 30px;
      max-height: 135px;
      overflow-y: auto;

      &-item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding-right: 40px;
        margin-bottom: 10px;
      }

      &-product {
        width: 280px;
        height: 100%;
        border: 1px solid $dark-gray;
        background-color: $gray;
      }

      &-quantity {
        position: relative;
        width: 80px;
        height: 100%;
        border: 1px solid $dark-gray;
        background-color: $gray;
      }

      &-price {
        width: 80px;
        height: 100%;
        border: 1px solid $dark-gray;
        background-color: $gray;
      }

      &-button {
        position: absolute;
        top: 2px;
        right: 0;
        width: 28px;
        min-width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 18px;
        padding: 0;
        border: 1px solid $dark-gray;
        background-color: $red;
      }
    }
  }
}

.controls-button {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: 5px;
  cursor: pointer;

  &_more {
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent $dark-gray transparent;
    top: 4px;
  }

  &_less {
    border-width: 10px 7.5px 0 7.5px;
    border-color: $dark-gray transparent transparent transparent;
    bottom: 4px;
  }
}