@import './../../../styles/base/_variables.scss';

.edit {
  height: 390px;

  &-footer {
    height: 30%;
    position: relative;

    &__total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 69%;
      height: 50%;
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
      line-height: 38px;

      &-label {
        width: 280px;
        height: 100%;
        border: 1px solid $gray;
        background-color: $light-blue;
      }

      &-value {
        width: 167px;
        height: 100%;
        border: 1px solid $gray;
      }
    }

    &__button {
      border: 1px solid $gray;
      background-color: $light-green;
      font-size: 18px;
    }
  }
}