<form class="form" #form="ngForm" [formGroup]="invoiceForm">
  <div class="form-container">
    <div class="form-data">
      <div class="form-title" *ngIf="!editMode">New Invoice</div>
      <div class="form-title" *ngIf="editMode">Invoice #{{ (invoice$ | async)?.id }}</div>
      <mat-form-field class="form-customer">
        <mat-select placeholder="Select customer" formControlName="customer_id">
          <mat-option *ngFor="let customer of customersList$ | async" [value]="customer.id">
            {{ customer.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-items" formArrayName="items">
        <div *ngFor="let item of items?.controls; let i=index">
          <app-invoice-item
            [item]="item"
            [editMode]="editMode"
            [itemMode]="true"
            (deleteItem)="deleteInvoiceItem(i, item.value)">
          </app-invoice-item>
          <mat-divider></mat-divider>
        </div>
        <mat-error *ngIf="!items.valid && form.submitted">You have to add at least one product</mat-error>
      </div>

      <app-invoice-item
        [editMode]="editMode"
        [itemMode]="false"
        (addItem)="addInvoiceItem($event)">
      </app-invoice-item>

    </div>
    <div class="form-discount">
      <div class="form-discount__control">
        <mat-form-field>
          <input matInput placeholder="Discount" type="number" min="0" max="50" formControlName="discount">
        </mat-form-field>
        <mat-error class="form-discount__error" *ngIf="!invoiceForm.controls.discount.valid">0...50%</mat-error>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <div class="form-footer__total">
      <div class="form-footer__total-label">Total</div>
      <div class="form-footer__total-value">$ {{ total.value || '0.00' }}</div>
    </div>
    <button class="form-footer__button" mat-raised-button *ngIf="!editMode" (click)="saveInvoice()">
      Save Invoice
    </button>
  </div>
</form>
<app-loader></app-loader>