<nav class="nav">
    <a class="nav-logo" routerLink="/">Logo</a>
    <ul class="nav-list">
        <li class="nav-list__item">
            <a class="nav-list__item-link" routerLinkActive="nav-list__item-link_active" routerLink="/products">Products</a>
        </li>
        <li class="nav-list__item">
            <a class="nav-list__item-link" routerLinkActive="nav-list__item-link_active" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-list__item">
            <a class="nav-list__item-link" routerLinkActive="nav-list__item-link_active" routerLink="/invoices">Invoices</a>
        </li>
    </ul>
    <div class="nav-add">
        <a mat-raised-button color="primary" class="nav-add__link" routerLink="/invoices/new">New Invoice</a>
    </div>
</nav>