@import '../../../../styles/base/variables';

.form {

  &-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__product {
      width: 250px;
      height: 100%;
      margin-right: 10px;

      .mat-form-field {
        width: 100%;
      }
    }

    &__quantity {
      position: relative;
      width: 80px;
      height: 100%;

      .mat-form-field {
        width: 100%;
        padding: 0 10px;
      }
    }

    &__price {
      width: 100px;
      height: 100%;

      .mat-form-field {
        width: 100%;
        padding: 0 10px;
      }
    }

    &__button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 28px;
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      font-size: 18px;
      padding: 0;
      border: 1px solid $gray;
      border-radius: 50%;
      background-color: $red;
    }
  }
}
