@import './../../styles/base/_variables.scss';

.products {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.mat {
  &-table {
    border-left: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
  }

  &-row {
    min-height: 24px;
    border-bottom: none;
    padding: 0;
  }

  &-cell {
    border: 1px solid $dark-gray;
    height: 40px;
    line-height: 40px;
    color: $base-text-color;
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
  }

  &-header {
    &-row {
      min-height: 40px;
      border-bottom: none;
      padding: 0;
    }
    &-cell {
      border: 1px solid $dark-gray;
      min-height: 40px;
      line-height: 40px;
      font-size: 18px;
      background-color: $gray;
      color: $base-text-color;
      text-align: center;
    }
  }

  &-column {
    &-name {
      flex: 0 0 519px;
    }

    &-price {
      flex: 0 0 135px;
    }
  }
}
