<div class="new">
  <form class="new-body" #invoiceForm="ngForm">
    <div class="new-body__data">
      <div class="new-body__data-invoice">New Invoice</div>
      <select class="new-body__data-customer" name="customer" required #customer="ngModel"
        [(ngModel)]="invoice.customer_id" [appValueLimit]="{min: 0}">
          <option *ngFor="let customer of customersList" [value]="customer.id">{{ customer.name }}</option>
      </select>
      <div class="new-invoice">
        <div class="new-invoice__header">
          <div class="new-invoice__header-product">Products</div>
          <div class="new-invoice__header-quantity">Qty</div>
          <div class="new-invoice__header-price">Price</div>
        </div>
        <div class="new-invoice__products">
          <div class="new-invoice__products-item" *ngFor="let item of invoice.items">
            <div class="new-invoice__products-product">{{ item.name }}</div>
            <div class="new-invoice__products-quantity">{{ item.quantity }}</div>
            <div class="new-invoice__products-price">{{ item.price }}</div>
            <button class="new-invoice__products-button" mat-raised-button (click)="removeInvoiceItemButtonHandler(item.product_id)">-</button>
          </div>
          <div class="new-invoice__controls">
            <div class="new-invoice__controls-product">
              <select class="new-invoice__controls-select" name="product" required #product="ngModel"
                [(ngModel)]="tmpProduct.product_id" (change)="selectProductHandler($event)" [appValueLimit]="{min: 0}">
                  <option *ngFor="let product of productsList" [value]="product.id">{{ product.name }}</option>
              </select>
            </div>
            <div class="new-invoice__controls-quantity">
              <input class="new-invoice__controls-input" type="text" name="quantity" required #quantity="ngModel"
                (input)="calcTotal()" [(ngModel)]="tmpProduct.quantity" [appValueLimit]="{min: 1}">
              <div class="controls-button controls-button_more" (click)="changeQuantityHandler('++')"></div>
              <div class="controls-button controls-button_less" (click)="changeQuantityHandler('--')"></div>
            </div>
            <div class="new-invoice__controls-price">
              <input class="new-invoice__controls-input" type="text" name="price" disabled
                [(ngModel)]="tmpProduct.price">
            </div>
            <button class="new-invoice__controls-button" mat-raised-button (click)="addInvoiceItemButtonHandler()">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="new-body__discount">
      <div class="new-body__discount-label">Discount %</div>
      <div class="new-body__discount-control">
        <input class="new-body__discount-input" type="text" name="discount" #discount="ngModel"
          (input)="inputDiscountHandler()" [(ngModel)]="invoice.discount" [appValueLimit]="{min: 0, max: 50}">
        <div class="controls-button controls-button_more" (click)="changeDiscountHandler('++')"></div>
        <div class="controls-button controls-button_less" (click)="changeDiscountHandler('--')"></div>
      </div>
    </div>
  </form>
  <div class="new-footer">
    <div class="new-footer__total">
      <div class="new-footer__total-label">Total</div>
      <div class="new-footer__total-value">${{ invoice.total }}</div>
    </div>
    <button class="new-footer__button" mat-raised-button (click)="saveInvoiceButtonHandler()">Save Invoice</button>
    <div class="new-footer__errors">
      <div class="new-footer__errors-item" *ngIf="customer.errors?.valueLimitValidator && (customer.dirty || customer.touched)">
        You need to choose customer
      </div>
      <div class="new-footer__errors-item" *ngIf="product.errors?.valueLimitValidator && (product.dirty || product.touched)">
        You need to choose product
      </div>
      <div class="new-footer__errors-item" *ngIf="quantity.errors?.valueLimitValidator && (quantity.dirty || quantity.touched)">
        Quantity must be more then 0
      </div>
      <div class="new-footer__errors-item" *ngIf="discount.errors?.valueLimitValidator && (discount.dirty || discount.touched)">
        Discount must be between 0 and 50%
      </div>
    </div>
  </div>
</div>