<div class="new">

  <app-invoice-form
    [mode]="'new'"
    [customersList]="customersList"
    [productsList]="productsList"
    [invoice]="invoice"
    [tmpProduct]="tmpProduct">
  </app-invoice-form>

  <div class="new-footer">
    <div class="new-footer__total">
      <div class="new-footer__total-label">Total</div>
      <div class="new-footer__total-value">${{ invoice.total }}</div>
    </div>
    <button class="new-footer__button" mat-raised-button (click)="saveInvoiceButtonHandler()">Save Invoice</button>
  </div>
</div>