@import './../../../styles/base/_variables.scss';

.new {
  height: 100%;

  &-footer {
    height: 26%;
    position: relative;

    &__total {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 69%;
      height: 50%;
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
      line-height: 38px;

      &-label {
        width: 265px;
        height: 40px;
        line-height: 40px;
        border: 1px solid $gray;
        background-color: $light-blue;
        margin-right: 20px;
      }

      &-value {
        width: 160px;
        height: 40px;
        line-height: 40px;
        border: 1px solid $gray;
      }
    }

    &__button {
      border: 1px solid $gray;
      background-color: $light-green;
      font-size: 18px;
    }
  }
}