<form class="form" #invoiceForm="ngForm">
  <div class="form-data">
    <div class="form-title" *ngIf="mode === 'new'">New Invoice</div>
    <div class="form-title" *ngIf="mode === 'edit'">Invoice #{{ invoice?.id }}</div>
    <select class="form-customer" name="customer" required #customer="ngModel"
      [(ngModel)]="invoice.customer_id" [appValueLimit]="{min: 0}">
        <option [ngValue]="-1">Select customer</option>
        <option *ngFor="let customer of customersList$ | async" [value]="customer.id">{{ customer.name }}</option>
    </select>
    <div class="form-products">
      <div class="form-products__header">
        <div class="form-products__header-product">Products</div>
        <div class="form-products__header-quantity">Qty</div>
        <div class="form-products__header-price">Price</div>
      </div>
      <div class="form-products__list">
        <div class="form-products__list-item" *ngFor="let item of invoice.items">
          <div class="form-products__list-product">{{ item.name }}</div>
          <div class="form-products__list-quantity">{{ item.quantity }}</div>
          <div class="form-products__list-price">{{ item.price }}</div>
          <button class="form-products__list-button" mat-raised-button (click)="removeInvoiceItemButtonHandler(item.product_id)">-</button>
        </div>
        <div class="form-products__controls">
          <div class="form-products__controls-product">
            <select class="form-products__controls-select" name="product" required #product="ngModel"
              [(ngModel)]="tmpProduct.product_id" (change)="selectProductHandler($event)" [appValueLimit]="{min: 0}">
                <option [ngValue]="-1">Add product</option>
                <option *ngFor="let product of productsList$ | async" [value]="product.id">{{ product.name }}</option>
            </select>
          </div>
          <div class="form-products__controls-quantity">
            <input class="form-products__controls-input" type="text" name="quantity" required #quantity="ngModel"
                   (input)="calcTotal()" [(ngModel)]="tmpProduct.quantity" [appValueLimit]="{min: 1}">
            <div class="controls-button controls-button_more" (click)="changeQuantityHandler('++')"></div>
            <div class="controls-button controls-button_less" (click)="changeQuantityHandler('--')"></div>
          </div>
          <div class="form-products__controls-price">
            <input class="form-products__controls-input" type="text" name="price" disabled
                   [(ngModel)]="tmpProduct.price">
          </div>
          <button class="form-products__controls-button" mat-raised-button (click)="addInvoiceItemButtonHandler()">+</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-discount">
    <div class="form-discount__label">Discount %</div>
    <div class="form-discount__control">
      <input class="form-discount__input" type="text" name="discount" #discount="ngModel" [disabled]="mode === 'edit'"
             (input)="inputDiscountHandler()" [(ngModel)]="invoice.discount" [appValueLimit]="{min: 0, max: 50}">
      <div class="controls-button controls-button_more" (click)="changeDiscountHandler('++')"></div>
      <div class="controls-button controls-button_less" (click)="changeDiscountHandler('--')"></div>
    </div>
  </div>
  <div class="form-errors">
    <div class="form-errors__item" *ngIf="customer.errors?.valueLimitValidator">
      You need to choose customer
    </div>
    <div class="form-errors__item" *ngIf="product.errors?.valueLimitValidator">
      You need to choose product
    </div>
    <div class="form-errors__item" *ngIf="quantity.errors?.valueLimitValidator">
      Quantity must be more then 0
    </div>
    <div class="form-errors__item" *ngIf="discount.errors?.valueLimitValidator">
      Discount must be between 0 and 50%
    </div>
  </div>
</form>