body {
  box-sizing: border-box;
  font-family: Arial;
  color: $base-text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
}

input, select, button, a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}