body {
  font-family: Arial;
  color: $base-text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
}

::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}