
@mixin text-elipsis($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex($flex-direction, $align-horizontal, $align-vertical) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $align-horizontal;
    align-items: $align-vertical;
}

@mixin desktopFHD {
    @media screen and (min-width: $desktopFHD) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin laptopsDPI {
    @media screen and (min-width: $laptopsDPI) {
        @content;
    }
}

@mixin laptops {
    @media screen and (min-width: $laptops) {
        @content;
    }
}

@mixin tablets {
    @media screen and (min-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (min-width: $phones) {
        @content;
    }
}

@mixin vertical {
    @media screen and (min-width: $vertical) {
        @content;
    }
}