// Colors
$base-text-color: #000000;
$blue-text-color: #0000FF;
$gray: rgb(183, 183, 183);
$dark-gray: rgb(102, 102, 102);
$black: #000000;
$white: #ffffff;
$blue: rgb(60, 120, 216);
$light-blue: rgb(159, 197, 232);
$light-blue-2: rgb(164, 194, 244);
$light-green: rgb(217, 234, 211);
$orange: rgb(246, 178, 107);
$red: rgb(224, 102, 102);

// Breakpoints
$desktopFHD: 1920px;
$desktop: 1440px;
$laptopsDPI: 1280px;
$laptops: 960px;
$tablets: 600px;
$phones: 480px;
$vertical: 321px;